@font-face {
    font-family: MontsReg;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: MontsBold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: PhilBold;
    src: url("../fonts/Philosopher-Bold.ttf");
}

@font-face {
    font-family: MontsIt;
    src: url("../fonts/Montserrat-Italic.ttf");
}


@font-face {
    font-family: MontsSemi;
    src: url("../fonts/Montserrat-SemiBold.ttf");
}


body {
    margin: 0;
    background: rgb(255, 243, 225);
}

#burger {
    display: none;
    color: white;
line-height: 30px;
    font-size: 30px;
}

#burger-close {
    display: none;
}


#main {
    background: url("../images/bg1.png");
    height: 644px;
    background-position: center;
    background-size: cover;
}

#header {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: middle;
}

.logo span {
    font-size: 18px;
    font-family: PhilBold, sans-serif;
    color: rgb(255, 243, 225);
    text-transform: uppercase;
    margin-left: 10px;
    vertical-align: middle;
}

#menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 445px;
}

#menu .x-mark {
    top: 16px;
    right: 16px;
}

#menu span {
    display: none;
    font-size: 25px;
    font-family: PhilBold, sans-serif;
    color: rgb(42, 41, 39);
    margin-bottom: 13px;
}


#menu a {
    text-decoration: none;
    font-size: 15px;
    font-family: MontsReg, sans-serif;
    color: rgb(255, 243, 225);
    margin: 7px 0;
}

#main-phone {
    margin-top: 20px;
}

.phone-number {
    font-size: 16px;
    font-family: MontsBold, sans-serif;
    color: rgb(255, 243, 225);
}

.orderCall {
    margin-top: 15px;
}

#phone-burger {
    display: none;
}

.orderCall img {
    vertical-align: middle;
}

.orderCall a {
    text-decoration: underline;
    vertical-align: middle;
    font-size: 14px;
    font-family: MontsBold, sans-serif;
    color: rgb(255, 245, 201);
    margin-left: 8px;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.video iframe {
    margin-top: 145px;
    border-radius: 15px;
}

#main-info {
    margin-top: 124px;
}

#main-title {
    font-size: 55px;
    font-family: PhilBold, sans-serif;
    color: rgb(255, 243, 225);
    width: 603px;
    line-height: 1.09;
}

.main-text {
    font-size: 18px;
    font-family: MontsReg, sans-serif;
    color: rgb(255, 243, 225);
    width: 323px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-yellow {
    outline: none;
    font-size: 16px;
    font-family: MontsSemi, sans-serif;
    color: rgb(42, 41, 39);
    text-decoration: none;
    background: #FFFFFF;
    width: 288px;
    height: 60px;
    border-radius: 30px;
    border: 0;
    background-image: -moz-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
    cursor: pointer;
}



#show-program a.btn-yellow {
    padding: 20px 66px;
}

#show-program a {
    line-height: 3.6;
    outline: none;
    font-size: 16px;
    font-family: MontsSemi, sans-serif;
    color: rgb(42, 41, 39);
    text-decoration: none;
    text-align: center;
}

#features {
    max-width: 1170px;
    margin: 0 auto;

}

#main-content {
    position: relative;
}

#balloon {
    position: absolute;
    z-index: -9999999;
}

#bottom-balloon {
    position: absolute;
    z-index: -9999999;
    bottom: -66px;
    right: 0;
}

 .titles {
    margin-top: 120px;
    font-size: 35px;
    font-family: PhilBold, sans-serif;
    color: rgb(42, 41, 39);
    text-align: center;
}



 .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 0;
     column-gap: 40px;
}

 .feature {
     height: 156px;
    border-width: 3px;
    border-color: rgb(250, 116, 43);
    border-style: solid;
    border-radius: 10px;
    padding: 27px 40px;
    box-sizing: border-box;
    position: relative;
     margin-top: 88px;
     background: rgb(255, 243, 225);
}

.stripe {
    width: 61px;
    border-top: 3px solid #fff5c9;
    position: absolute;
    top: -3px;
    left: 40%;
}

 .feature-text {
    font-size: 15px;
    font-family: MontsReg, sans-serif;
    color: rgb(42, 41, 39);
    text-align: center;
    width: 198px;
    height: 88px;
    line-height: 1.533;
     display: table-cell;
     vertical-align: middle;
}

 .number {
    font-size: 60px;
    font-family: PhilBold, sans-serif;
    color: rgb(42, 41, 39);
    position: absolute;
    top: -63px;
    left: 45%;
}

#features .container .feature .feature-text #first-span {
    font-size: 15px;
}

#features .container .feature .feature-text span {
    font-size: 18px;
    font-family: MontsBold, sans-serif;
}

#var-container {
    max-width: 1140px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#var-main {
    max-width: 1140px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px auto auto auto;
}

#var-container .var {
    border-width: 2px;
    border-color: rgb(250, 116, 43);
    border-style: solid;
    border-radius: 10px;
    max-width: 536px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    box-sizing: border-box;
    background: rgb(255, 243, 225);
}


#var-container .var .var-image {
    background-size: auto;
    display: flex;
    vertical-align: middle;
}

#var-container .var .var-image img {
    overflow: hidden;
}

#var-container .var .var-info {
    margin: 40px 0 40px 40px;
}

#var-container .var .var-title {
    font-size: 18px;
    font-family: MontsBold, sans-serif;
    color: rgb(42, 41, 39);
    text-align: left;
    margin-bottom: 30px;
}

#var-container .var .var-text {
    font-size: 15px;
    font-family: MontsReg, sans-serif;
    color: rgb(42, 41, 39);
    text-align: left;
    max-width: 267px;
}

#small-title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: PhilBold, sans-serif;
    color: rgb(42, 41, 39);
    text-align: center;
}

#small-container {
    margin: 0 auto;
    display: flex;
    max-width: 618px;
    justify-content: space-between;
}

#small-container .article .first-small-span {
    font-size: 60px;
    font-family: PhilBold, sans-serif;
    color: rgb(42, 41, 39);
}

#small-container .article .second-small-span {
    font-size: 15px;
    font-family: MontsReg, sans-serif;
    color: rgb(42, 41, 39);
    max-width: 220px;
    margin-left: 30px;
}

#tips {
    margin-top: 22px;
}

#offer-info {
    background: url('../images/bg3.png');
    background-position: center;
    background-size: cover;
    height: 732px;
    margin-top: 120px;
}

#offer-title {
    text-align: center;
    padding-top: 120px;
    font-size: 35px;
    font-family: PhilBold, sans-serif;
    color: rgb(255, 243, 225);
    margin-bottom: 50px;
}

#offers {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

#offers .offer {
    background: #fff3e1;
    max-width: 350px;
    padding: 25px 40px 40px 40px;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 0 15px;
}



.slick-dots li.slick-active button:before {
    content: none !important;
}

 .slick-dots li button::before {
     content: none !important;
 }

#offers .offer .offer-title {
    font-size: 18px;
    font-family: MontsBold, sans-serif;
    color: rgb(42, 41, 39);
}

#offers .offer .offer-text {
    font-size: 15px;
    font-family: MontsReg, sans-serif;
    color: rgb(42, 41, 39);
    margin: 10px 0;
}

#offers .offer .offer-text  span {
    font-size: 12px;
    font-family: MontsReg, sans-serif;
    color: rgb(124, 124, 124);
    margin-left: 15px;
}

#offers .offer .offer-button {
    margin-top: 40px;
    text-align: center;
}

#offers .offer .offer-button .btn-yellow {
    width: 248px;
    height: 60px;
}

#offers .dots li button {
    border-color: #fff3e1;
}

.dots li button{
    border-width: 1px;
    border-color: #fff3e1;
    border-style: solid;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    box-sizing: border-box;
}

.dots-rev li button, .dots-photos li button, .dots-photos-adaptive li button, .dots-rev-adaptive li button {
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    box-sizing: border-box;
}



.slick-dots li.slick-active button {
    border: none;
    background-image: -moz-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
}

.slick-dots {
    position: static;
}

.slick-list {
    margin-bottom: 30px;
}

 .navigation {
    display: flex;
    margin: -10px auto;
    justify-content: center;
     align-items: center;
}

 .navigation-adaptive {
     display: none;
 }


#photos {
display: flex;
    position: relative;
}

#photos-container {
    max-width: 1140px;
    margin: 0 auto;
}

#photos-balloon {
    position: absolute;
    left: 0;
    bottom: 165px;
    z-index: -8888888;
}

.photos-title {
    text-align: center;
    padding-top: 120px;
    font-size: 35px;
    font-family: PhilBold, sans-serif;
    color: #2a2927;
    margin-bottom: 50px;
}

#photos-slider  {
    max-width: 1120px;
    margin: 0 auto;

}

#photos-slider .photos-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

#photos-slider .block .block-photo {
    display: flex;
    justify-content: space-between;
}

#photos-slider img {
 margin: 5px;
    border-radius: 15px;
}

#photos-slider .row img {
    border-radius: 15px;
    max-height: 550px;
}

#photos-slider-adaptive .slick-slide {
    margin: 0 50px;
}

#reviews {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    justify-content: space-evenly;
}

#reviews .review {
    box-sizing: border-box;
    border-width: 2px;
    border-color: rgb(250, 116, 43);
    border-style: solid;
    border-radius: 15px;
    height: 365px;
    margin: 0 15px;
    padding: 38px 35px;
    background: rgb(255, 243, 225);
}

.review .rev-info {
    display: flex;
    outline: none;
    align-items: center;
}

.review .review-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

 .review .rev-info .review-text {
    margin-left: 22px;
}

 .review .rev-info .review-text span.name {
    font-size: 14px;
    font-family: MontsBold, sans-serif;
    color: rgb(42, 41, 39);
}

 .review .rev-info .review-text span.location {
    font-size: 14px;
    font-family: MontsReg, sans-serif;
    color: rgb(124, 124, 124);
    display: block;
}

 .review .review-text-description {
    font-size: 14px;
    font-family: MontsReg, sans-serif;
    color: rgb(42, 41, 39);
    margin-top: 24px;
    line-height: 1.643;
    max-width: 356px;
}

#form-block {
    background: url('../images/lastBG.png');
    background-position: center;
    height: 1017px;
    background-size: cover;
    margin-top: 160px;
}

#form-block-container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

#form-container .white-title {
    font-size: 35px;
    font-family: PhilBold, sans-serif;
    color: rgb(255, 243, 225);
    line-height: 1.2;
    text-align: left;
    max-width: 588px;
    padding-top: 180px;
}

#form-button .btn-yellow {
    width: 250px;
    height: 60px;
    outline: none;
}

#form-container .main-text {
    width: 435px;
}

#form .reserve-input {
    margin-bottom: 20px;
}

.reserve-input input {
    background-color: rgb(255, 243, 225);
    width: 250px;
    height: 55px;
border-radius: 28px;
    box-sizing: border-box;
    outline: none;
    padding: 20px 20px;
    border: 0;
}

#form .reserve-input input::placeholder {
    color: #2a2927;
    font-size: 15px;
}

#form-block-container {
    display: flex;
    justify-content: center;
    column-gap: 75px;
}

#balloon-container {
    margin-top: 100px;
}

#footer {
    backdrop-filter: blur(5px);

}

#footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 1140px;
}

#footer-container .logo {
    display: inline-table;
}

.footer-title {
    font-size: 16px;
    font-family: MontsBold, sans-serif;
    color: rgb(255, 243, 225);
    font-weight: bold;
    margin-bottom: 20px;
}

.inst {
    margin-bottom: 15px;
}

.inst span {
    font-size: 14px;
    font-family: MontsReg, sans-serif;
    color: rgb(255, 243, 225);
    margin-left: 19px;
}

#news-text {
    font-size: 14px;
    font-family: MontsReg, sans-serif;
    color: rgb(255, 243, 225);
    width: 244px;
    margin-bottom: 20px;
}

#news-input input {
    border-width: 1px;
    border-color: rgb(250, 116, 43);
    border-radius: 23px;
    border-style: solid;
    width: 233px;
    height: 43px;
    outline: none;
    background-color: transparent;
    padding-left: 25px;
}

#news-input {
    position: relative;
}

#news-input input::placeholder {
    color: #fff3e1;
    font-size: 15px;
}

.inst-hover:hover {
    opacity: 90%;
}

#form-button {
    margin-bottom: 103px;
}

#call-button button{
    border-width: 1px;
    border-style: solid;
    border-radius: 23px;
    border-color: rgb(250, 116, 43);
    width: 163px;
    height: 48px;
    outline: none;
    background-color: transparent;
   text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    font-family: MontsSemi, sans-serif;
    margin-top: 15px;
}

#order-call-block {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
background: rgba(0, 0, 0, 0.78);
    z-index: 999999;
    display: none;
    justify-content: center;
    align-items: center;
}

#order-call-container {
    border-width: 2px;
    border-color: rgb(250, 116, 43);
    border-style: solid;
    border-radius: 10px;
    max-width: 536px;
    padding: 35px;
    position: relative;
}

#order-call-cancel {
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

.order-call-title {
    color: wheat;
    text-align: center;
    font-size: 30px;
    font-family: PhilBold, sans-serif;
    margin-bottom: 15px;
}

.order-call-text {
    text-align: center;
    color: wheat;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: MontsReg, sans-serif;
}

#order-call-container .reserve-input {
    text-align: center;
}

#order-call-container .reserve-input input {
    height: 45px;
}

#order-call-button {
    text-align: center;
}

#order-call-container .btn-yellow {
    width: 250px;
    height: 45px;
    margin-top: 15px;
}

#order-call-sent {
    display: none;
}

#news-input-button {
    background-image: -moz-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,214,30) 0%, rgb(250,116,43) 100%);
    border-radius: 50%;
    position: absolute;
    padding: 11px 20px;
    right: -5px;
    top: -2px;
    outline: none;
    cursor: pointer;
}

#news-input-button img {
    vertical-align: middle;
}

.form-error, .popup-error {
    color: red;
    font-size: 13px;
    font-family: MontsReg, sans-serif;
    font-weight: bold;
    display: none;
    text-align: left;
    max-width: 250px;
    margin: 0 auto;
}

.form-error span {
    margin-left: 24px;
}

.popup-error span {
    margin-left: 24px;
}

#thanks {
    margin-bottom: 15px;
    display: none;
    max-width: 588px;
    padding-top: 45px;
}

#thanks-full {
    color: #fff5c9;
    font-size: 45px;
    font-family: PhilBold, sans-serif;
    text-align: left;
    margin-bottom: 135px;
}

#order-call-content .form-error {
    text-align: center;
}

.adaptive-container {
    display: none;
    border-width: 2px;
    border-color: rgb(250, 116, 43);
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 290px;
    margin: 30px auto;

}


 ol li::marker {
    font-weight: bold;
}

 ol li {
    font-size: 14px;
    font-family: MontsReg, sans-serif;
    color: rgb(42, 41, 39);
    line-height: 1.429;
    width: 217px;
    margin-bottom: 15px;
}

 #look-adventure {
    font-size: 12px;
    font-family: MontsIt, sans-serif;
     display: none;
    color: rgb(255, 243, 225);
     width: 189px;
     text-align: left;
     position: relative;
}

 #look-adventure img {
     position: absolute;
     left: 125px;
     top: 21px;
 }

 #thanks-mobile-container {
     display: none;
     width: 100%;
     min-height: 100%;
     background-color: rgba(0,0,0,0.5);
     overflow: hidden;
     position: fixed;
     left: 0;
     top: 0;
z-index: 515;
 }

 #thanks-mobile {
     background-image: url("../images/popup-back.png");
     border-radius: 20px;
     background-repeat: no-repeat;
     box-sizing: border-box;
     max-width: 291px;
     margin: 60px auto;
     position: relative;
     padding-bottom: 60px;
 }

 #popup-text {
     width: 197px;
    font-size: 12px;
    font-family: MontsReg, sans-serif;
    color: rgb(255, 243, 225);
    text-align: center;
}

#var-adaptive {
    display: none;
}

.read-more button {
    display: flex;
    font-size: 12px;
    font-family: MontsBold, sans-serif;
    color: rgb(250, 116, 43);
    border: 0;
    background: none;
    align-items: center;
}



.var-adaptive-popup {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    left: 0;
    top:0px;
    display: none;
}


.var-adaptive-popup .var {
    display: block !important;
    padding: 20px 15px;
    margin: 0 auto;
}

.var-adaptive-popup .var .var-text {
    width: 248px;
    margin: 0 !important;
}

.var-adaptive-popup .var .var-title {
    margin-bottom: 15px !important;
}

#photos-slider-adaptive {
    display: none;
}

#photos-slider-adaptive .slick-slide img {
    margin: 0 auto;
    border-radius: 15px;
}

#reviews-adaptive {
    display: none;
    max-width: 320px;
    margin: 0 auto;
}

#reviews-adaptive .review {
    border-radius: 15px;
    border: 2px solid #fa742b;
    padding: 30px;
    margin: 0 auto;
}

.review .review-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#reviews-adaptive .review .rev-info .review-text {
    margin-left: 10px;
}

#reviews-adaptive .review .rev-info .review-text span.location {
    font-size: 12px;
}

#reviews-adaptive .review .review-text-description {
    font-size: 12px;
    margin: 15px 0 20px 0;
    max-width: 224px;
}

.rev-adaptive-popup {
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    left: 0;
    top:0;

    z-index: 2;
    overflow:hidden;
}

.var-adaptive-popup .var {
    position: relative;
}

.x-mark {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

#thanks-mobile .white-title {
    padding-top: 60px !important;
    padding-bottom: 25px;
    margin: 0 auto;
    font-size: 25px;
    font-family: PhilBold, sans-serif;
}

#thanks-mobile #popup-text {
    margin: 0 auto 41px auto;
}

#popup-button {
   text-align: center;
}

#popup-button a {
    font-size: 14px;
    margin: 0 auto;
    padding: 19px 29px;
}

#thanks-mobile .x-mark {
    top: 16px;
    right: 16px;
    display: block;
}

.read-more button img {
    margin-left: 14px;
}
.article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rev-adaptive-popup .review {
    border-width: 2px;
    border-color: rgb(250, 116, 43);
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(255, 243, 225);
    max-width: 286px;
    margin: 50px auto auto auto;
    padding: 30px;
    position: relative;
}

.rev-adaptive-popup .review-text-description {
    font-size: 12px;
    font-family: MontsReg, sans-serif;
    color: rgb(42, 41, 39);
    line-height: 1.667;
    text-align: left;
    margin-top: 15px;
    max-width: 226px;
}

.rev-adaptive-popup .review-image {
    width: 58px;
    height: 55px;
}

.rev-adaptive-popup .review .rev-info .review-text span.name {
    font-family: MontsSemi, sans-serif;
}

.rev-adaptive-popup .review .rev-info .review-text span.name {
    font-size: 12px;
}

#popup-balloon {
    position: absolute;
    top: -72px;
    left: -14px;
}

.adaptive-container ol {
    margin-top: 15px;
}

#adaptive-video {
    display: none;
}

.dots, .dots-photos, .dots-rev, .dots-photos-adaptive, .dots-rev-adaptive {
    margin: 0 30px;
}
